* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#642bff, #ff22e6);
  border-radius: 7px;
}
.avatar-update-btn::file-selector-button {
  width: 100%;
  padding: 7px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid hsl(222.2 47.4% 11.2%);
  background: hsl(222.2 47.4% 11.2%);
  cursor: pointer;
  color: #fff;
}
.avatar-update-btn::file-selector-button:hover {
  background: transparent;
  color: hsl(222.2 47.4% 11.2%);
}
